<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ImagePlaceSearchResultMapper">

  <select id="selectImagePlaceSearchResultById" resultType="com.example.demo.dto.image.ImagePlaceSearchResultDto">
    SELECT id, image_search_history_id, place_id, is_selected, rank
    FROM image_place_search_result WHERE id = #{id}
  </select>

  <insert id="insertImagePlaceSearchResult" parameterType="com.example.demo.dto.image.ImagePlaceSearchResultDto" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO image_place_search_result (image_search_history_id, place_id, is_selected, rank)
    VALUES (#{imageSearchHistoryId}, #{placeId}, #{isSelected}, #{rank})
  </insert>

  <update id="updateImagePlaceSearchResult" parameterType="com.example.demo.dto.image.ImagePlaceSearchResultDto">
    UPDATE image_place_search_result
    SET image_search_history_id = #{imageSearchHistoryId}, place_id = #{placeId}, is_selected = #{isSelected}, rank = #{rank}
    WHERE id = #{id}
  </update>

  <delete id="deleteImagePlaceSearchResultById" parameterType="long">
    DELETE FROM image_place_search_result WHERE id = #{id}
  </delete>

</mapper>
