<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.hashtag.HashtagGroupMapper">

  <select id="selectHashtagGroupById" resultType="com.example.demo.dto.hashtag.HashtagGroup">
    SELECT id, created_at, review_post_id
    FROM hashtag_group WHERE id = #{id}
  </select>

  <insert id="insertHashtagGroup" parameterType="com.example.demo.dto.hashtag.HashtagGroup" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO hashtag_group (created_at, review_post_id)
    VALUES (#{createdAt}, #{reviewPostId})
  </insert>

  <update id="updateHashtagGroup" parameterType="com.example.demo.dto.hashtag.HashtagGroup">
    UPDATE hashtag_group
    SET created_at = #{createdAt}, review_post_id = #{reviewPostId}
    WHERE id = #{id}
  </update>

  <delete id="deleteHashtagGroupById" parameterType="long">
    DELETE FROM hashtag_group WHERE id = #{id}
  </delete>

</mapper>
