<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.hashtag.HashtagMapper">

  <select id="selectHashtagById" resultType="com.example.demo.dto.hashtag.Hashtag">
    SELECT id, name, is_selected, created_at, group_id
    FROM hashtags WHERE id = #{id}
  </select>

  <insert id="insertHashtag" parameterType="com.example.demo.dto.hashtag.Hashtag" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO hashtags (name, is_selected, created_at, group_id)
    VALUES (#{name}, #{isSelected}, #{createdAt}, #{groupId})
  </insert>

  <update id="updateHashtag" parameterType="com.example.demo.dto.hashtag.Hashtag">
    UPDATE hashtags
    SET name = #{name}, is_selected = #{isSelected}, created_at = #{createdAt}, group_id = #{groupId}
    WHERE id = #{id}
  </update>

  <delete id="deleteHashtagById" parameterType="long">
    DELETE FROM hashtags WHERE id = #{id}
  </delete>

</mapper>
