<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.travelgram.aiReview.dao.AiReviewStyleDao">

<select id="findPlanById"
        parameterType="long"
        resultType="Plan">
    SELECT * FROM plans WHERE id = #{planId}
</select>


<select id="findDaysByPlanId"
        parameterType="long"
        resultType="PlanDay">
    SELECT * FROM plan_days WHERE plan_id = #{planId} ORDER BY day_index
</select>


<select id="findPlacesWithActivitiesByPlanId"
        parameterType="long"
        resultType="CurrentActivity">

    SELECT
        d.id           AS day_id,
        d.day_index    AS day_index,
        d.title        AS day_title,
        d.plan_date    AS plan_date,

        p.id           AS place_id,
        p.title        AS place_title,
        p.start_at     AS start_at,
        p.end_at       AS end_at,
        p.place_name   AS place_name,
        p.address      AS address,
        p.expected_cost AS expected_cost,
        p.lat           AS lat,
        p.lng           AS lng,

        a.actual_cost   AS actual_cost,
        a.memo          AS memo,
        a.ended_at      AS activity_ended_at

    FROM plan_days d
    LEFT JOIN plan_places p
        ON p.day_id = d.id
    LEFT JOIN current_activities a
        ON a.plan_place_id = p.id
    WHERE d.plan_id = #{planId}
    ORDER BY d.day_index, p.start_at

</select>
</mapper>