<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.imageSearch.ImageSearchPlaceDao">

  <select id="selectImageSearchPlaceById" resultType="com.example.demo.dto.imageSearch.ImageSearch">
    SELECT id, user_id, created_at, action_type
    FROM image_search_places WHERE id = #{id}
  </select>

  <insert id="insertImageSearchPlace" parameterType="com.example.demo.dto.imageSearch.ImageSearch" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO image_search_places (user_id, created_at, action_type)
    VALUES (#{userId}, now(), #{actionType})
  </insert>

  <update id="updateImageSearchPlace" parameterType="com.example.demo.dto.imageSearch.ImageSearch">
    UPDATE image_search_places
    SET user_id = #{userId}, created_at = #{createdAt}, action_type = #{actionType}
    WHERE id = #{id}
  </update>

  <delete id="deleteImageSearchPlaceById" parameterType="long">
    DELETE FROM image_search_places WHERE id = #{id}
  </delete>

</mapper>
