<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.chat.ChatMemoryDao">

  <select id="selectChatMemoryById" resultType="com.example.demo.dto.chat.ChatMemory">
    SELECT id, user_id, agent_name, order_index, content, token_usage, created_at, role
    FROM chat_memories WHERE id = #{id}
  </select>

  <insert id="insertChatMemory" parameterType="com.example.demo.dto.chat.ChatMemory" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO chat_memories (user_id, agent_name, order_index, content, token_usage, created_at, role)
    VALUES (#{userId}, #{agentName}, #{orderIndex}, #{content}, #{tokenUsage}, now(), #{role})
  </insert>

  <update id="updateChatMemory" parameterType="com.example.demo.dto.chat.ChatMemory">
    UPDATE chat_memories
    SET user_id = #{userId}, agent_name = #{agentName}, order_index = #{orderIndex}, content = #{content},
        token_usage = #{tokenUsage}, created_at = #{createdAt}, role = #{role}
    WHERE id = #{id}
  </update>

  <delete id="deleteChatMemoryById" parameterType="long">
    DELETE FROM chat_memories WHERE id = #{id}
  </delete>

</mapper>
