<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.reviewPost.ReviewPostMapper">

  <select id="selectReviewPostById" resultType="com.example.demo.dto.reviewPost.ReviewPost">
    SELECT id, content, is_posted, review_post_url, created_at, travel_plan_id, style_id
    FROM review_posts WHERE id = #{id}
  </select>

  <insert id="insertReviewPost" parameterType="com.example.demo.dto.reviewPost.ReviewPost" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO review_posts (content, is_posted, review_post_url, created_at, travel_plan_id, style_id)
    VALUES (#{content}, #{isPosted}, #{postUrl}, #{createdAt}, #{travelPlanId}, #{styleId})
  </insert>

  <update id="updateReviewPost" parameterType="com.example.demo.dto.reviewPost.ReviewPost">
    UPDATE review_posts
    SET content = #{content}, is_posted = #{isPosted}, review_post_url = #{postUrl}, created_at = #{createdAt},
        travel_plan_id = #{travelPlanId}, style_id = #{styleId}
    WHERE id = #{id}
  </update>

  <delete id="deleteReviewPostById" parameterType="long">
    DELETE FROM review_posts WHERE id = #{id}
  </delete>

</mapper>
