<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.reviewPhoto.ReviewPhotoGroupMapper">

  <select id="selectReviewPhotoGroupById" resultType="com.example.demo.dto.reviewPhoto.ReviewPhotoGroup">
    SELECT id, created_at, review_post_id
    FROM review_photo_groups WHERE id = #{id}
  </select>

  <insert id="insertReviewPhotoGroup" parameterType="com.example.demo.dto.reviewPhoto.ReviewPhotoGroup" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO review_photo_groups (created_at, review_post_id)
    VALUES (#{createdAt}, #{reviewPostId})
  </insert>

  <update id="updateReviewPhotoGroup" parameterType="com.example.demo.dto.reviewPhoto.ReviewPhotoGroup">
    UPDATE review_photo_groups
    SET created_at = #{createdAt}, review_post_id = #{reviewPostId}
    WHERE id = #{id}
  </update>

  <delete id="deleteReviewPhotoGroupById" parameterType="long">
    DELETE FROM review_photo_groups WHERE id = #{id}
  </delete>

</mapper>
