<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.travelgram.review.dao.ReviewPostDao">

    <!-- review_posts -->
    <insert id="insertDraft" parameterType="ReviewPost" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO review_posts (content, is_posted, review_post_url, created_at, travel_plan_id, review_style_id)
        VALUES (null, false, null, NOW(), #{travelPlanId}, null);
    </insert>

    <select id="selectReviewPostById" resultType="ReviewPost">
        SELECT * FROM review_posts WHERE id = #{id};
    </select>

    <select id="selectReviewPostsByPlanId" resultType="ReviewPost">
        SELECT * FROM review_posts WHERE travel_plan_id = #{travelPlanId};
    </select>

    <update id="updateReviewPost" parameterType="ReviewPost">
        UPDATE review_posts
        SET content = #{content}, is_posted = #{isPosted}, review_post_url = #{reviewPostUrl}, created_at = #{createdAt},
            travel_plan_id = #{travelPlanId}, review_style_id = #{reviewStyleId}
        WHERE id = #{id}
  </update>
</mapper>
