<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.travelgram.review.dao.ReviewPhotoDao">

  <insert id="insertReviewPhotoGroup" parameterType="ReviewPhotoGroup" useGeneratedKeys="true"
    keyProperty="id" keyColumn="id"> INSERT INTO review_photo_groups (created_at, review_post_id)
    VALUES (NOW(), #{reviewPostId} ) </insert>

  <insert id="insertReviewPhoto" parameterType="ReviewPhoto" useGeneratedKeys="true"
    keyProperty="id" keyColumn="id"> INSERT INTO review_photos ( group_id, file_url, order_index,
    created_at ) VALUES ( #{groupId}, #{fileUrl}, #{orderIndex}, now() ); </insert>

  <select id="selectReviewPhotoById" resultType="ReviewPhoto"> SELECT id, file_url, order_index,
    created_at, group_id FROM review_photos WHERE id = #{id} </select>

  <update id="updatePhotoOrder"> UPDATE review_photos SET order_index = #{orderIndex} WHERE id =
    #{photoId} AND group_id = #{groupId} </update>


  <delete id="delete" parameterType="long"> DELETE FROM review_photos WHERE id = #{id} </delete>

</mapper>