<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.place.CurrentActivityDao">

  <select id="selectCurrentActivityById" resultType="com.example.demo.dto.place.CurrentActivity">
    SELECT id, travel_place_id, actual_cost, memo, ended_at
    FROM current_activities WHERE id = #{id}
  </select>

  <insert id="insertCurrentActivity" parameterType="com.example.demo.dto.place.CurrentActivity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO current_activities (travel_place_id, actual_cost, memo, ended_at)
    VALUES (#{travelPlaceId}, #{actualCost}, #{memo}, #{endedAt})
  </insert>

  <update id="updateCurrentActivity" parameterType="com.example.demo.dto.place.CurrentActivity">
    UPDATE current_activities
    SET travel_place_id = #{travelPlaceId}, actual_cost = #{actualCost}, memo = #{memo}, ended_at = #{endedAt}
    WHERE id = #{id}
  </update>

  <delete id="deleteCurrentActivityById" parameterType="long">
    DELETE FROM current_activities WHERE id = #{id}
  </delete>

</mapper>
