<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PhotoGroupMapper">

  <select id="selectPhotoGroupById" resultType="com.example.demo.dto.photo.PhotoGroupDto">
    SELECT id, created_at, post_record_id
    FROM photo_group WHERE id = #{id}
  </select>

  <insert id="insertPhotoGroup" parameterType="com.example.demo.dto.photo.PhotoGroupDto" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO photo_group (created_at, post_record_id)
    VALUES (#{createdAt}, #{postRecordId})
  </insert>

  <update id="updatePhotoGroup" parameterType="com.example.demo.dto.photo.PhotoGroupDto">
    UPDATE photo_group
    SET created_at = #{createdAt}, post_record_id = #{postRecordId}
    WHERE id = #{id}
  </update>

  <delete id="deletePhotoGroupById" parameterType="long">
    DELETE FROM photo_group WHERE id = #{id}
  </delete>

</mapper>
