<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.planner.travel.dao.TravelPlanDao">

  <select id="selectTravelPlanById" parameterType="long" resultType="com.example.demo.planner.travel.dto.entity.TravelPlan">
    SELECT id, user_id, budget, start_date, end_date, created_at, updated_at, is_ended
    FROM plans
    WHERE id = #{id}
  </select>

  <select id="selectTravelPlansByUserId" parameterType="long" resultType="com.example.demo.planner.travel.dto.entity.TravelPlan">
    SELECT id, user_id, budget, start_date, end_date, created_at, updated_at, is_ended
    FROM plans
    WHERE user_id = #{userId}
    ORDER BY created_at DESC
  </select>

  <insert id="insertTravelPlan" parameterType="com.example.demo.planner.travel.dto.entity.TravelPlan" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO plans (user_id, budget, start_date, end_date, created_at, updated_at, is_ended)
    VALUES (#{userId}, #{budget}, #{startDate}, #{endDate}, now(), null, #{isEnded})
  </insert>

  <update id="updateTravelPlan" parameterType="com.example.demo.planner.travel.dto.entity.TravelPlan">
    UPDATE plans
    SET user_id = #{userId},
        budget = #{budget},
        start_date = #{startDate},
        end_date = #{endDate},
        updated_at = now(),
        is_ended = #{isEnded}
    WHERE id = #{id}
  </update>

  <delete id="deleteTravelPlan" parameterType="long">
    DELETE FROM plans
    WHERE id = #{id}
  </delete>

</mapper>
