<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.planner.dao.TravelPlanDao">
  <select id="selectTravelPlanById" resultType="com.example.demo.dto.travel.TravelPlan">
    SELECT id, user_id, budget, start_date, end_date, created_at, updated_at, is_ended
    FROM travel_plans WHERE id = #{id}
  </select>
  <insert id="insertTravelPlan" parameterType="com.example.demo.dto.travel.TravelPlan" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO travel_plans (user_id, budget, start_date, end_date, created_at, is_ended)
    VALUES (#{userId}, #{budget}, #{startDate}, #{endDate}, now(), #{isEnded})
  </insert>
  <update id="updateTravelPlan" parameterType="com.example.demo.dto.travel.TravelPlan">
    UPDATE travel_plans
    SET user_id = #{userId}, budget = #{budget}, start_date = #{startDate}, end_date = #{endDate},
        updated_at = now(), is_ended = #{isEnded}
    WHERE id = #{id}
  </update>
  <delete id="deleteTravelPlanById" parameterType="long">
    DELETE FROM travel_plans WHERE id = #{id}
  </delete>
</mapper>
