<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.chat.ChatMemoryMapper">

  <select id="selectChatMemoryById" resultType="com.example.demo.dto.chat.ChatMemory">
    SELECT id, user_id, agent_id, order_index, content, token_usage, created_at, role
    FROM chat_memory WHERE id = #{id}
  </select>

  <insert id="insertChatMemory" parameterType="com.example.demo.dto.chat.ChatMemory" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO chat_memory (user_id, agent_id, order_index, content, token_usage, created_at, role)
    VALUES (#{userId}, #{agentId}, #{orderIndex}, #{content}, #{tokenUsage}, #{createdAt}, #{role})
  </insert>

  <update id="updateChatMemory" parameterType="com.example.demo.dto.chat.ChatMemory">
    UPDATE chat_memory
    SET user_id = #{userId}, agent_id = #{agentId}, order_index = #{orderIndex}, content = #{content},
        token_usage = #{tokenUsage}, created_at = #{createdAt}, role = #{role}
    WHERE id = #{id}
  </update>

  <delete id="deleteChatMemoryById" parameterType="long">
    DELETE FROM chat_memory WHERE id = #{id}
  </delete>

</mapper>
